{% extends 'base.html.twig' %}

{% block title %}Websites{% endblock %}

{% block body %}
<table class="table table-striped text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Domain</th>
      <th scope="col">Status</th>
      <th scope="col">Response time</th>
      <th scope="col">Consecutive fails</th>
      <th scope="col">Last ok status</th>
      <th scope="col">Last alert sent</th>
    </tr>
  </thead>
  <tbody>
     {% for website in websites %}
    <tr>
      <td>{{ website.name }}</td>
      <td class="
        {% if not website.redirectionOk %}
        table-danger
        {% endif %}
      ">
        <a href="{{ website.domain }}">{{ website.domain }}</a>
        {% if website.redirectTo %}
        <br/>
        Should redirect To : <a href="{{ website.redirectTo }}">{{ website.redirectTo }}</td>
        {% endif %}
      <td class="
      {% if (website.status == 200 and website.redirectionOk)  %}
        {% elseif website.status in 301..302 %}table-warning
        {% else %}table-danger{% endif %}
        ">
        {% if website.status < 0 %}
          No response
        {% else %}
          {{ website.status }}
        {% endif %}
      </td>
      <td class="
      {% if website.responseTime < 1 and website.responseTime > 0 %}
        {% elseif website.responseTime < 5 and website.responseTime > 0 %}table-warning
        {% else %}table-danger{% endif %}
      ">
        {% if website.status < 0  %}
          No response
        {% else %}
          {{ website.responseTime }}
        {% endif %}
      </td>
      <td>{{ website.consecutiveFailAmount }}</td>
      <td>{% if website.lastOkStatus != null %}{{ website.lastOkStatus|date }}{% else %}Never{% endif %}</td>
      <td>{% if website.lastAlertSent != null %}{{ website.lastAlertSent|date }}{% else %}Never{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
